<!doctype html>
<html ng-app="ForecastApp">
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet"
			  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
			  crossorigin="anonymous">

		<meta charset="utf-8">
	</head>
	<body class="container">
		<div ng-controller="WeatherServiceController as wsc">
			<h1 class="text-center">Weather App</h1>
			<br><br>
			<div class="form-group">
				</p>
	            <p>Select a tip amount:
	                <select ng-model="wsc.selected_city"
                        	ng-options="city.name for city in wsc.cities"
                        	class="dropdown"></select>
	            </p>
				<input type="text" style="form-control">
				<br><br>
				<div class="text-center">
					<button class="btn btn-info"
							ng-click="getLatLonForSelected()">Get the weather!
					</button>
				</div>
			</div>
			<br>
            <!--<p><img src="{{wsc.google_static_maps_url}}" /></p>
            <p>Time: {{wsc.ds_observation_time}}</p>
            <p>Temperature: {{wsc.ds_temperature}}</p>
            <p>Dewpoint: {{wsc.ds_dewpoint}}</p>
            <p>Wind Bearing: {{wsc.ds_windBearing}}</p>
            <p>Wind Speed: {{wsc.ds_windSpeed}}</p>-->
            
            <my-conditions></my-conditions>
		</div>
		<script src="angular.js"></script>
		<script src="app.js"></script>	
	</body>
</html>
