<!DOCTYPE html>
<html ng-app="UnitConverter">
    <head>
        <link rel="stylesheet" href="bootstrap.min.css">
    </head>
    <body>
        <div class="container" ng-controller="UnitConverterController as ucc">
            <h1>Converter App</h1>
            <small><i>Please note: the calculation functions have not been implemented yet</i></small>
            <h2>Volume</h2>
            
            <div>
                
                Convert
                
                <input type="text" ng-model="ucc.volumeValue"  id="Volume_Value" name="value" placeholder="Enter amount" />
                
                <select ng-model="ucc.selected_original_volume_units"
                        ng-options="unit.unit group by unit.type for unit in ucc.volume_units"
                        ng-change="ucc.showSelectedUnit()"></select>
                
                &nbsp; to &nbsp;
                
                <select ng-model="ucc.selected_convert_volume_units"
                        ng-options="unit.unit group by unit.type for unit in ucc.volume_units"
                        ng-change="ucc.showSelectedUnit()"></select>
                
                <br><br>
                <div>
                    <p>Original unit: <span ng-bind="ucc.selected_original_volume_units.unit"></span></p>
                </div>
                <div>
                    <p>Unit to convert to: <span ng-bind="ucc.selected_convert_volume_units.unit"></span></p>
                </div>
                <button ng-click="ucc.findCalculation()">Calculate</button>
                <div>
                    <h3><b><span ng-bind="ucc.volumeValue"></span> <span ng-bind="ucc.selected_original_volume_units.unit"></span> = <span ng-bind="ucc.volumeAnswerValue"></span> <span ng-bind="ucc.selected_convert_volume_units.unit"></span></b></h3>
                </div>
            </div>
            <br>
            
            <h2>Mass</h2>
            <div>
                
                Convert
                
                <input type="text" ng-model="ucc.massValue"  id="Mass_Value" name="value" placeholder="Enter amount" />
                
                <select ng-model="ucc.selected_original_mass_units"
                        ng-options="unit.unit group by unit.type for unit in ucc.mass_units"
                        ng-change="ucc.showSelectedUnit()"></select>
                
                &nbsp; to &nbsp;
                
                <select ng-model="ucc.selected_convert_mass_units"
                        ng-options="unit.unit group by unit.type for unit in ucc.mass_units"
                        ng-change="ucc.showSelectedUnit()"></select>
                
                <br><br>
                <div>
                    <p>Original unit: <span ng-bind="ucc.selected_original_mass_units.unit"></span></p>
                </div>
                <div>
                    <p>Unit to convert to: <span ng-bind="ucc.selected_convert_mass_units.unit"></span></p>
                </div>
                <button ng-click="ucc.findCalculation()">Calculate</button>
                <div>
                    <h3><b><span ng-bind="ucc.massValue"></span> <span ng-bind="ucc.selected_original_mass_units.unit"></span> = <span ng-bind="ucc.massAnswerValue"></span> <span ng-bind="ucc.selected_convert_mass_units.unit"></span></b></h3>
                </div>
            </div>
            <br>
            
            <h2>Length</h2>
                        <div>
                
                Convert
                
                <input type="text" ng-model="ucc.lengthValue"  id="Length_Value" name="value" placeholder="Enter amount" />
                
                <select ng-model="ucc.selected_original_length_units"
                        ng-options="unit.unit group by unit.type for unit in ucc.length_units"
                        ng-change="ucc.showSelectedUnit()"></select>
                
                &nbsp; to &nbsp;
                
                <select ng-model="ucc.selected_convert_length_units"
                        ng-options="unit.unit group by unit.type for unit in ucc.length_units"
                        ng-change="ucc.showSelectedUnit()"></select>
                
                <br><br>
                <div>
                    <p>Original unit: <span ng-bind="ucc.selected_original_length_units.unit"></span></p>
                </div>
                <div>
                    <p>Unit to convert to: <span ng-bind="ucc.selected_convert_length_units.unit"></span></p>
                </div>
                <button ng-click="ucc.findCalculation()">Calculate</button>
                <div>
                    <h3><b><span ng-bind="ucc.lengthValue"></span> <span ng-bind="ucc.selected_original_length_units.unit"></span> = <span ng-bind="ucc.lengthAnswerValue"></span> <span ng-bind="ucc.selected_convert_length_units.unit"></span></b></h3>
                </div>
            </div>
            
            <script src="angular.min.js"></script>
            <script src="app.js"></script>
        </div>
    </body>
</html>